@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        color-scheme: light !important;
    }

    :disabled,
    .disabled,
    [disabled] {
        @apply opacity-55 cursor-not-allowed;
    }
    *,
    ::before,
    ::after {
        @apply dark:border-gray-600;
    }

    * {
        font-family: "Inter", sans-serif;
    }
}
